* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.profile {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #586470;
  height: 100vh;
}

.profile > .profileWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 3px #fd2d01;
          box-shadow: 0 0 8px 3px #fd2d01;
  background-color: #fffaf0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #fffaf0;
  margin: auto;
}

@media (max-width: 600px) {
  .profile > .profileWrapper {
    width: 80%;
    font-size: 85%;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .profile > .profileWrapper {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .profile > .profileWrapper {
    width: 45%;
  }
}

.profile > .profileWrapper > a {
  position: relative;
  left: 47%;
}

.profile > .profileWrapper > a > .profileClose {
  color: #e79095;
}

.profile > .profileWrapper > .formWrapper {
  width: 65%;
}

@media (max-width: 600px) {
  .profile > .profileWrapper > .formWrapper {
    width: 95%;
  }
}

.profile > .profileWrapper > .formWrapper > .profileTop > .profileTop__upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile > .profileWrapper > .formWrapper > .profileTop > .profileTop__upload > .image__name {
  font-size: smaller;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  left: 55%;
  color: #e79095;
}

.profile > .profileWrapper > .formWrapper > .profileTop > p {
  color: #fd2d01;
  font-size: smaller;
  margin-left: 0.5rem;
}

.profile > .profileWrapper > .formWrapper > .profileTop > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

.profile > .profileWrapper > .formWrapper > .profileTop > label > input[type="file"] {
  display: none;
}

.profile > .profileWrapper > .formWrapper > .profileTop > label > input {
  width: 70%;
  font-size: 15px;
}

@media (max-width: 600px) {
  .profile > .profileWrapper > .formWrapper > .profileTop > label > input {
    width: 65%;
    font-size: 85%;
  }
}

.profile > .profileWrapper > .formWrapper > .profileTop > label > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  .profile > .profileWrapper > .formWrapper > .profileTop > label > img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .profile > .profileWrapper > .formWrapper > .profileTop > label > img {
    width: 80px;
    height: 80px;
  }
}

.profile > .profileWrapper > .formWrapper > .profileTop > label > .profileTop__icon {
  color: #e79095;
  cursor: pointer;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  left: 52%;
}

.profile > .profileWrapper > .profileImg {
  border: none;
  padding: 6px;
  border-radius: 7px;
  background-color: #fd2d01;
  width: 11em;
  cursor: pointer;
  color: #fffaf0;
}

@media (max-width: 600px) {
  .profile > .profileWrapper > .profileImg {
    font-size: 90%;
  }
}

.profile > .profileWrapper > .profileImg:hover {
  font-weight: bold;
  text-transform: uppercase;
}

.profile > .profileWrapper > .profileButtons {
  padding: 1rem;
  width: 90%;
  text-align: center;
}

.profile > .profileWrapper > .profileButtons > button {
  border: none;
  padding: 10px;
  border-radius: 7px;
  background-color: #fd2d01;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #fffaf0;
  width: 60%;
  margin: 1rem;
}

@media (max-width: 600px) {
  .profile > .profileWrapper > .profileButtons > button {
    font-size: 90%;
  }
}

@media (max-width: 600px) {
  .profile > .profileWrapper > .profileButtons > button {
    width: 70%;
  }
}

.profile > .profileWrapper > .profileButtons > button:hover {
  font-weight: bold;
  text-transform: uppercase;
}
/*# sourceMappingURL=profile.css.map */