@import "../../styles/style.scss";

.profile {
  @include profileLogin;
  height: 100vh;
  > .profileWrapper {
    @include wrapper;
    > a {
      position: relative;
      left: 47%;
      > .profileClose {
        color: $quaternary-color;
      }
    }
    > .formWrapper {
      width: 65%;
      @media (max-width: $sm) {
        width: 95%;
      }
      > .profileTop {
        > .profileTop__upload {
          display: flex;
          justify-content: center;
        }
        > p {
          color: $primary-color;
          font-size: smaller;
          margin-left: 0.5rem;
        }
        > label {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;

          > input {
            width: 70%;
            font-size: 15px;
            @media (max-width: $sm) {
              width: 65%;
            }
          }
          > img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            @media (max-width: $sm) {
              width: 60px;
              height: 60px;
            }
            @media (min-width: $sm) and (max-width: $lg) {
              width: 80px;
              height: 80px;
            }
          }
          > .profileTop__icon {
            color: $quaternary-color;
            cursor: pointer;
            position: absolute;
            align-self: flex-end;
            left: 52%;
          }
        }
      }
    }
    > .profileImg {
      border: none;
      padding: 6px;
      border-radius: 7px;
      background-color: $primary-color;
      width: 11em;
      cursor: pointer;
      color: $tertiary-color;
      @media (max-width: $sm) {
        font-size: 90%;
      }
      &:hover {
        @include hover;
      }
    }
    > .profileButtons {
      padding: 1rem;
      width: 90%;
      text-align: center;
      > button {
        @include button;
        width: 60%;
        margin: 1rem;
        @media (max-width: $sm) {
          width: 70%;
        }
        &:hover {
          @include hover;
        }
      }
    }
  }
}
