$primary-color: #fd2d01;
$secondary-color: rgb(88, 100, 112);
$tertiary-color: #fffaf0;
$quaternary-color: #e79095;

@mixin hover {
  text-transform: uppercase;
  font-weight: bold;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  border: none;
  padding: 10px;
  border-radius: 7px;
  background-color: $primary-color;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: $tertiary-color;
}

@mixin boxShadow {
  border-radius: 10px;
  box-shadow: 0 0 8px 3px $primary-color;
  background-color: $tertiary-color;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
