$primary-color: #fd2d01;
$secondary-color: rgb(88, 100, 112);
$tertiary-color: #fffaf0;
$quaternary-color: #e79095;
$sm: 600px;
$md: 822px;
$lg: 992px;

@mixin hover {
  font-weight: bold;
  text-transform: uppercase;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  border: none;
  padding: 10px;
  border-radius: 7px;
  background-color: $primary-color;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: $tertiary-color;
  @media (max-width: $sm) {
    font-size: 90%;
  }
}

@mixin boxShadow {
  border-radius: 10px;
  box-shadow: 0 0 8px 3px $primary-color;
  background-color: $tertiary-color;
}

//wrapper for login and profile pages
@mixin wrapper {
  @include flexCenter;
  @include boxShadow;
  flex-direction: column;
  padding: 10px;
  background-color: $tertiary-color;
  margin: auto;
  @media (max-width: $sm) {
    width: 80%;
    font-size: 85%;
  }
  @media (min-width: $sm) and (max-width: $lg) {
    width: 60%;
  }
  @media (min-width: $lg) {
    width: 45%;
  }
}

//div for profile and login pages
@mixin profileLogin {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
