@import "../../styles/style.scss";

.topbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $quaternary-color;
  height: 80px;
  padding: 0 5em 0 5em;
  > .topbarLeft {
    color: $tertiary-color;
    > .topbarLeft__logo {
      > img {
        object-fit: cover;
        height: 80px;
        width: 350px;
        margin-left: -30px;
      }
    }
  }
  > .topbarRight {
    display: inline-block;
    position: relative;
    color: $tertiary-color;
    &:hover .topbarRight__links {
      display: block;
      width: max-content;
    }
    > .topbarRight__profile {
      @include flexCenter;
      cursor: pointer;
      height: 80px;
      > img {
        border-radius: 50%;
        object-fit: cover;
        height: 60px;
        align-items: center;
      }
      > .topbarRight__profile--name {
        margin-left: 15px;
        color: $tertiary-color;
        font-weight: bold;
      }
    }
    > .topbarRight__links {
      display: none;
      position: absolute;
      z-index: 1;
      > a {
        color: $tertiary-color;
        text-decoration: none;
        display: block;
        padding: 0.5em;
        > .topbarRight__links__icons {
          &--logout {
            width: 1.25em;
            padding-right: 0.5em;
            color: $quaternary-color;
          }
          &--edit {
            padding-right: 0.5em;
            color: $quaternary-color;
          }
        }
        &:hover {
          @include hover;
          color: $tertiary-color;
          background-color: darken($secondary-color, 20%);
          border-radius: 7px;
        }
      }
    }
  }
}
