@import "../../styles/style.scss";

.topbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $quaternary-color;
  height: 80px;
  padding: 0 5em 0 5em;
  @media (max-width: 780px) {
    padding: 0;
  }
  > .topbar__logo {
    > img {
      @media (max-width: $sm) {
        margin: 0;
        width: 70%;
        object-fit: cover;
      }
      margin-left: -30px;
    }
  }
  > .topbarRight {
    display: inline-block;
    position: relative;
    color: $tertiary-color;
    &:hover .topbarRight__links {
      display: block;
      width: 13rem;
      background-color: darken($secondary-color, 20%);
      border-radius: 7px;
      padding: 0 1rem 0 1rem;
    }
    > .topbarRight__profile {
      @include flexCenter;
      cursor: pointer;
      height: 80px;
      > img {
        border-radius: 50%;
        object-fit: cover;
        height: 60px;
        align-items: center;
        @media (max-width: $sm) {
          height: 40px;
        }
      }
      > .topbarRight__profile--name {
        margin-left: 15px;
        color: $tertiary-color;
        font-weight: bold;
      }
    }
    > .topbarRight__links {
      display: none;
      position: absolute;
      z-index: 1;
      right: 15%;
      > a {
        color: $tertiary-color;
        text-decoration: none;
        display: block;
        padding: 0.5em;
        > .topbarRight__links__icons {
          &--logout {
            width: 1.25em;
            padding-right: 0.5em;
            color: $quaternary-color;
          }
          &--edit {
            padding-right: 0.5em;
            color: $quaternary-color;
          }
        }
        &:hover {
          @include hover;
        }
      }
    }
  }
}
