@import "../../styles/style.scss";

.login {
  @include profileLogin;
  > .loginWrapper {
    @include wrapper;
    > .loginTitle {
      font-weight: bolder;
      padding: 1rem;
    }
    > .loginTop {
      width: 85%;
      @media (max-width: $sm) {
        width: 95%;
      }
      .loginTop__info {
        > label {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          > input {
            width: 65%;
            font-size: 15px;
            @media (max-width: $md) {
              width: 55%;
            }
          }
        }
      }
    }
    > .loginBottom {
      padding: 1rem;
      width: 60%;
      text-align: center;
      > .loginBottom__prompt {
        font-style: italic;
        font-size: smaller;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
      }
      > button {
        @include button;
        width: 100%;
        &:hover {
          @include hover;
        }
      }
    }
  }
}
