* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.title {
  color: #fffaf0;
  font-weight: 800;
  margin: 3rem 0 1rem 0;
}

.post {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 3px #e41e01;
          box-shadow: 0 0 8px 3px #e41e01;
  background-color: #fffaf0;
  margin: 2em 0;
  width: 100%;
}

.post > .postWrapper {
  padding: 15px;
}

.post > .postWrapper > .postTop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 8fr 34fr 1.5fr;
      grid-template-columns: 0fr 8fr 34fr 1.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post > .postWrapper > .postTop > .postTop__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post > .postWrapper > .postTop > .postTop__user {
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .post > .postWrapper > .postTop > .postTop__user {
    font-size: 90%;
  }
}

.post > .postWrapper > .postTop > .postTop__postDate {
  font-size: 12px;
}

@media (max-width: 600px) {
  .post > .postWrapper > .postTop > .postTop__postDate {
    font-size: 75%;
  }
}

.post > .postWrapper > .postTop > .postTop__edit > .postTop__edit--icon {
  color: #e79095;
  cursor: pointer;
}

.post > .postWrapper > .postTop > .postTop__delete > .postTop__delete--icon {
  color: #e79095;
  cursor: pointer;
}

.post > .postWrapper > .postCenter {
  margin: 20px 0;
}

.post > .postWrapper > .postCenter > .postCenter__text {
  font-size: 15px;
}

@media (max-width: 600px) {
  .post > .postWrapper > .postCenter > .postCenter__text {
    font-size: 90%;
  }
}

.post > .postWrapper > .postCenter > .postCenter__img {
  width: 100%;
  max-height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}

.post > .postWrapper > .postBottom > .postBottom__edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40fr 3fr 3fr;
      grid-template-columns: 40fr 3fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post > .postWrapper > .postBottom > .postBottom__edit > input {
  margin-right: 0.7rem;
  font-size: 15px;
}

@media (max-width: 600px) {
  .post > .postWrapper > .postBottom > .postBottom__edit > input {
    font-size: 85%;
  }
}

.post > .postWrapper > .postBottom > .postBottom__edit > .postBottom__edit--upload {
  color: #586470;
}

.post > .postWrapper > .postBottom > .postBottom__edit > .postBottom__edit--upload > .image__name {
  font-size: smaller;
  color: #e79095;
}

.post > .postWrapper > .postBottom > .postBottom__edit > .postBottom__edit--upload > .postBottom__edit--icon1 {
  color: #e79095;
  cursor: pointer;
}

.post > .postWrapper > .postBottom > .postBottom__edit > .postBottom__edit--icon2 {
  color: #e79095;
  cursor: pointer;
}

.post > .postWrapper > .postBottom > .postBottom__like > .postBottom__like--icon {
  color: #e41e01;
  margin-right: 3px;
  cursor: pointer;
}

.post > .postWrapper > .postBottom > .postBottom__like > .postBottom__like--counter {
  font-size: 14px;
}

.post > .postWrapper > .postBottom > .postBottom__noComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
/*# sourceMappingURL=post.css.map */