@import "../../styles/style.scss";

.title {
  color: $tertiary-color;
  font-weight: 800;
  margin: 3rem 0 1rem 0;
}
.post {
  @include boxShadow;
  margin: 2em 0;
  width: 100%;
  > .postWrapper {
    padding: 15px;
    > .postTop {
      display: grid;
      grid-template-columns: 0fr 8fr 34fr 2fr;
      align-items: center;
      > .postTop__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      > .postTop__user {
        font-size: 15px;
        font-weight: 600;
        margin: 0 10px;
        @media (max-width: $sm) {
          font-size: 90%;
        }
      }
      > .postTop__postDate {
        font-size: 12px;
        @media (max-width: $sm) {
          font-size: 75%;
        }
      }
      > .postTop__edit {
        > .postTop__edit--icon {
          @include icon;
        }
      }
      > .postTop__delete {
        > .postTop__delete--icon {
          @include icon;
        }
      }
    }
    > .postCenter {
      margin: 20px 0;
      > .postCenter__text {
        font-size: 15px;
        @media (max-width: $sm) {
          font-size: 90%;
        }
      }
      > .postCenter__img {
        width: 100%;
        max-height: 350px;
        object-fit: contain;
      }
    }
    > .postBottom {
      > .postBottom__edit {
        display: grid;
        grid-template-columns: 40fr 3fr 2fr;
        align-items: center;
        > input {
          margin-right: 0.7rem;
          font-size: 15px;
          @media (max-width: $sm) {
            font-size: 85%;
          }
        }
        > .postBottom__edit--upload {
          > .postBottom__edit--icon1 {
            @include icon;
          }
        }
        > .postBottom__edit--icon2 {
          @include icon;
        }
      }

      > .postBottom__like {
        > .postBottom__like--icon {
          color: $primary-color;
          margin-right: 3px;
          cursor: pointer;
        }
        > .postBottom__like--counter {
          font-size: 14px;
        }
      }
      > .postBottom__noComments {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
    }
  }
}
