@import "../../styles/style.scss";

.post {
  @include boxShadow;
  margin: 2em 0;
  width: 100%;
  > .postWrapper {
    padding: 10px;
    > .postTop {
      display: flex;
      align-items: center;
      > .postTop__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
      > .postTop__user {
        font-size: 15px;
        font-weight: 600;
        margin: 0 10px;
        @media (max-width: $sm) {
          font-size: 90%;
        }
      }
      > .postTop__postDate {
        font-size: 12px;
      }
    }
    > .postCenter {
      margin: 20px 0;
      > .postCenter__text {
        font-size: 15px;
      }
      > .postCenter__img {
        width: 100%;
        max-height: 500px;
        object-fit: contain;
      }
    }
    > .postBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > .postBottom__like {
        > .postBottom__like--icon {
          color: $primary-color;
          margin-right: 3px;
          cursor: pointer;
        }
        > .postBottom__like--counter {
          font-size: 14px;
        }
      }
      > .postBottom__noComments {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
    }
  }
}
