@import "../../styles/style.scss";

.share {
  @include boxShadow;
  > .shareWrapper {
    padding: 15px;
    > form {
      > .shareTop {
        display: flex;
        align-items: center;
        > .shareTop__img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 15px;
          @media (max-width: $sm) {
            height: 40px;
            width: 40px;
          }
        }
        > .shareTop__input {
          border: none;
          width: 80%;
          font-size: 16px;
          background-color: $tertiary-color;
          @media (max-width: $sm) {
            font-size: 90%;
          }
          &:focus {
            outline: none;
          }
        }
      }
      > .shareBottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 10px 0 10px;
        > .shareBottom__upload {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          cursor: pointer;
          @media (max-width: $sm) {
            font-size: 90%;
          }
          > .image__name {
            font-size: smaller;
            margin-right: 10px;
            color: $quaternary-color;
          }
          > .shareBottom__upload__icon {
            margin-right: 10px;
            color: $quaternary-color;
          }
          > input[type="file"] {
            display: none;
          }
        }
        > .shareBottom__submit {
          @include button;
          width: 30%;
          @media (max-width: $sm) {
            font-size: 85%;
          }
          &:hover {
            @include hover;
          }
        }
      }
      > .shareHr {
        margin: 5px;
      }
    }
  }
}
