@import "../../styles/style.scss";
.feed {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
  height: 90vh;
  > .feedWrapper {
    padding: 40px;
    width: 50%;
  }
}
