@import "../../styles/style.scss";
.feed {
  background-color: #586470;
  padding-top: 6rem;
  > .feedWrapper {
    margin: auto;
    width: 50%;
    @media (max-width: $sm) {
      width: 80%;
      font-size: 85%;
    }
    @media (min-width: $sm) and (max-width: $md) {
      width: 60%;
    }
    @media (min-width: $lg) {
      width: 45%;
    }
  }
}
