@import "../../styles/style.scss";
.feed {
  background-color: #586470;
  padding-top: 6rem;
  > .feedWrapper {
    margin: auto;
    width: 55%;
    @media (max-width: $sm) {
      width: 80%;
      font-size: 85%;
    }
    @media (min-width: $sm) and (max-width: $md) {
      width: 60%;
    }
    > .title {
      font-size: 17px;
      font-weight: bolder;
    }
  }
}
